/**
 * WP Asteriski Calendar stylesheet
 */

.fa-clock {
    color: #35B233;
}

.fa-calendar-alt {
    color: #35B233;
}

.calendar-event {
    border-bottom: 1px solid #ddd;
}

.calendar-event {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.calendar-event p {
    margin: 0;
}

.event.time {
    margin-bottom: 5px;
}

.event-day h4 {
    font-size: 1.3rem;
    margin: 0;
}
