/**
 * WP Asteriski Calendar stylesheet
 */

.fa-clock {
    color: #35B233;
}

.fa-calendar-alt {
    color: #35B233;
}

.event-day:not(:first-of-type) h4 {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 5px 0;
}

.calendar-event p {
    line-height: 1.6;
    margin: 0;
}

.event.time {
    margin-bottom: 5px;
}

.event-day h4 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #080708;
    line-height: 1;
}