/**
 * WP Asteriski Calendar main stylesheet
 */

.fa-clock {
    color: #35B233;
}

.fa-calendar-alt {
    color: #35B233;
}

.calendar-event {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.calendar-event {
    padding: 10px 0;
}

.calendar-event p {
    margin: 0;
}

.event-name {
    font-weight: 700;
    color: #000;
}

.event-day h4 {
    font-size: 1.3rem;
    margin: 0;
}
